params {
    out_dir = "/projects/molonc/aparicio_lab/ahamazaki/jira/MAGIC199/analysis/medicc2_foreground/results/magic_sphase"
    data_dir = "/projects/molonc/scratch/ahamazaki/jira/MAGIC199/data/all_magic"
    phasing_object = null
    input = "input_files/freeze4/all_HEKs.txt"
    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
    tcn = false
    include_s_phase = true
}
includeConfig '../base.config'
