process {

	//GLOBALS
	//executor = 'slurm'
	//queue = "upgrade"
	//clusterOptions = '--account=aparicio_lab'

    executor = 'local'   // run locally
    maxForks = 32 

    // Labels
    withLabel: 'symlink_output' {
        publishDir = [
            path: { "${params.out_dir}/${library_id}_${sample_id}_${exp_con}" },
            mode: 'symlink'    
            ]
    
    }

   withLabel: 'copy_output' {
        publishDir = [
            path: { "${params.out_dir}/${library_id}_${sample_id}_${exp_con}" },
            mode: 'copy'
            ]
   }

}
