params {
    out_dir = "/projects/molonc/aparicio_lab/ahamazaki/jira/MAGIC199/analysis/medicc2_foreground/results/magic_allele_v2_sphase"
    data_dir = "/projects/molonc/scratch/ahamazaki/jira/MAGIC199/data/all_magic"
    phasing_object = "/projects/molonc/aparicio_lab/ahamazaki/jira/MAGIC165/results/htert_40_mincells/A_MERGED_B-AT_MERGED/signals_phasing_object.csv.gz"
    input = "input_files/samplesheets/s_phases/all_hterts.txt"
    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
    tcn = false
    include_s_phase = true
}
includeConfig '../../base.config'

