params {
    out_dir = "/projects/molonc/aparicio_lab/ahamazaki/jira/MAGIC199/analysis/medicc2_foreground/results/magic_allele_v2"
    data_dir = "/projects/molonc/scratch/ahamazaki/jira/MAGIC199/data/all_magic"
    phasing_object = "/projects/molonc/aparicio_lab/ahamazaki/jira/MAGIC235/SA1035/make_phasing_object/results/SA1035/A_MERGED_B-AT_MERGED/signals_phasing_object.csv.gz"
    input = "input_files/samplesheets/all_SA1035.txt"
    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
    tcn = false
    include_s_phase = false
    filter_divergent = true
}
includeConfig '../base.config'
