params {
    out_dir = "/projects/molonc/aparicio_lab/ahamazaki/jira/MAGIC199/analysis/medicc2_foreground/results/clusterdev"
    data_dir = "/projects/molonc/scratch/ahamazaki/jira/MAGIC199/data/all_magic"
    phasing_object = "/projects/molonc/aparicio_lab/ahamazaki/jira/MAGIC235/SA609/make_phasing_object/results/SA609/A_MERGED_B-AT_MERGED/signals_phasing_object.csv.gz"
    input = "/projects/molonc/aparicio_lab/ahamazaki/jira/MAGIC199/analysis/medicc2_foreground/input_files/samplesheets/dev/one_SA609.txt"
    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
    tcn = false
    include_s_phase = false
    filter_divergent = true
    num_cells_returned = 50
}
includeConfig '../base.config'
